﻿@model CarDealership.Models.ChangePassVM

@{

    ViewBag.Title = "ChangePassword";

}



<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post))

{
    <label>NewPassword : </label>@Html.PasswordFor(m => m.NewPassword) <br />

    <label>ConfirmPassword : </label>@Html.PasswordFor(m => m.ConfirmPassword)

    <button>Save</button>

}