﻿@model CarDealership.Models.AppUser

@{

    ViewBag.Title = "DeleteUser";

}



<h2>DeleteUser</h2>



<label>Are you sure you want to delete @Model.UserName? </label>



@using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post))

{

    @Html.HiddenFor(m => m.Id)

    <div class="panel-body">

        <input type="submit" name="submitButton" value="Delete" />

        <input type="submit" name="submitButton" value="Cancel" />

    </div>

}